{% extends "base.html" %}

{% block content %}
<div class="container mt-4 bg-success text-white p-4 rounded">
    <h1 class="mb-4">Чаты</h1>
    <div class="list-group mb-4">
        {% for chat in chats %}
            <a href="{{ url_for('view_chat', chat_id=chat.id) }}" class="list-group-item list-group-item-action bg-light text-dark mb-2">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ chat.name }}</h5>
                </div>

            </a>
        {% else %}
            <div class="alert alert-warning" role="alert">Нет доступных чатов.</div>
        {% endfor %}
    </div>

    <div class="card bg-light mb-4">
        <div class="card-body">
            <h2 class="card-title">Загрузить новый архив чата</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="file" name="file">
                    <button class="btn btn-outline-success" type="submit" id="button-upload">Загрузить</button>
                </div>
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
                <ul class="mb-0">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
