{% extends "base.html" %}
{% block content %}

    <div class="container mt-5">
        <h1 class="text-center">Загрузка и обработка чатов WhatsApp</h1>

        <form method="post" enctype="multipart/form-data" class="text-center">
            <div class="form-group">
                <input type="file" name="file" accept=".zip" class="form-control-file">
                <button type="submit" class="btn btn-primary">Загрузить архив</button>
            </div>

        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info mt-3">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h2 class="mt-5">Загруженные чаты:</h2>
        {% if folders %}
            <ul class="list-group">
                {% for folder in folders %}
                    <li class="list-group-item">
                        <a href="{{ url_for('view_chat', folder=folder) }}">{{ folder }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center">Нет загруженных чатов</p>
        {% endif %}
    </div>

{% endblock %}